<html>
<head>
<title>Mailroom</title>
</head>
<body>
	<nav>
			<a id="list" href="{{ url_for('all') }}">List Donations</a>
			<a id="create" href="{{ url_for('create') }}">Add New Donation</a>
			<a id="create" href="{{ url_for('singledonor') }}">Donations By Donor</a>
	</nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
